[submodule "vendored/vulkan"]
	path = vendored/vulkan
	url = https://github.com/SaschaWillems/Vulkan
[submodule "vendored/hellovulkan"]
	path = vendored/hellovulkan
	url = https://github.com/azer89/HelloVulkan
[submodule "vendored/glfw"]
	path = vendored/glfw
	url = https://github.com/glfw/glfw
[submodule "vendored/vkDOOM3"]
	path = vendored/vkDOOM3
	url = https://github.com/DustinHLand/vkDOOM3
[submodule "vendored/vulkan-gltf-pbr"]
	path = vendored/vulkan-gltf-pbr
	url = https://github.com/SaschaWillems/Vulkan-glTF-PBR.git
[submodule "vendored/oryol-samples"]
	path = vendored/oryol-samples
	url = https://github.com/floooh/oryol-samples
[submodule "vendored/oryol"]
	path = vendored/oryol
	url = https://github.com/floooh/oryol
[submodule "vendored/tracy"]
	path = vendored/tracy
	url = https://github.com/wolfpld/tracy
[submodule "vendored/vk-gltf-viewer"]
	path = vendored/vk-gltf-viewer
	url = https://github.com/stripe2933/vk-gltf-viewer.git
[submodule "vendored/metal-cpp"]
	path = vendored/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp.git
[submodule "vendored/spirv-cross"]
	path = vendored/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "vendored/godot_voxel"]
	path = vendored/godot_voxel
	url = https://github.com/Zylann/godot_voxel.git
